.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  margin-bottom: 100px;
  overflow:hidden;
  /* выше установили ограничения для секции */
}

.logo_place_header{
  height: 32px;
  width: 228px;
  position: absolute;
  left: 64px;
  top: 30px;
  color: #000000;
  z-index: 100;
}

.header__title {
  display: flex;
  width: 730px;
  align-items: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  z-index: 99;
}

.header__subtitle{
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 98;
}

.header__main-illustration{
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
z-index: 97;
align-self: center;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 65px;
  background-color:#2f80ed;
  z-index: 96;
}

.description{
  display: block;
      position: relative;
      padding-top: 100px;
      padding-bottom: 100px;
}

.two-columns{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-direction: row;
  width: 80%;
  border: 1px solid red;
}

.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: #2f80ed;
  border: 1px solid blue;
}
.two-columns__main-text{
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  align-content: space-between;
  border: 1px solid orangered;
}
.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  border: 1px solid purple;
  margin-top: 30px;
  margin-bottom: 30px;
}
.two-columns__paragraph:first-of-type{
margin: 0;
}
.two-columns__paragraph:last-of-type{
margin: 0;
}
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.digits{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  margin: 0 auto;
}
.section-title{
  width: 60%;
  top: 100px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  border: 1px solid blue;
  text-align: center;
  margin-bottom: 0;
  
}
.section-subtitle{
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  border: 1px solid orangered;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
.table{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  border: 1px solid purple;
  margin-bottom: 100px;
}
.table__cell{
  width: 250px;
  border: 1px solid green;
  margin-top: 60px;
}
.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid aqua;
  margin: 0 auto;
}
.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}
.feynman{
  height: 890px;
  border: 1px solid red;
  background-image: url("../images/feynman.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 100px;
}

.feynman__title{
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  border: 1px solid green;
  margin: 0 auto;
}
.feynman__subtitle{
line-height: 51px;
font-size: 36px;
font-weight: normal;
border: 1px solid purple;
margin-top: 70px;
}
.feynman__link{
  position: absolute;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  border: 1px solid blue;
  ;
}
.kaufman{
  background-color: #000000;
  overflow: hidden;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  z-index: -1;
}
.section-title_theme_dark{
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: white;
  border: 1px solid gray;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 0;
  z-index: 10;
}
.section-subtitle_theme_dark{
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  border: 1px solid purple;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  z-index: 10;
}
.table_them_dark{
  width: 1100px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content:space-between;
  margin-bottom: 90px;
  border: 1px solid gold;
  z-index: 10;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  border: 1px solid pink;
  z-index: 10;
}
.table__heading_theme_dark{
line-height: 1.15;
font-size: 24px;
font-weight: bold;
color: white;
margin: 0 auto;
border: 1px solid chocolate;
z-index: 10;
}
.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin-top: 20px;
  margin-bottom: 0;
  border: 1px solid saddlebrown;
  z-index: 10;
}
.kaufman__triangle{
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  z-index: 2;
}

.footer__columns{
  background-color: black;
}